* {
    margin: 0;
    padding: 0;
    /*transition*/
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

body {
    padding: 400px;
}

.close {
    -moz-box-shadow: inset 0px -1px 5px 0px #ffffff;
    -webkit-box-shadow: inset 0px -1px 5px 0px #ffffff;
    box-shadow: inset 0px -1px 5px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
    background-color: #ffffff;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 7px 9px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    float: right;
}

.close:hover {
    color: #C17D7D;
}

/* Slider */
.slider {
    height: 500px;
    left: 50%;
    position: absolute;
    top: 48%;
    width: 450px;
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.slider .frames {
    height: 500px;
    position: relative;
}

.slider .frames .slide {
    height: 500px;
    list-style: none;
    position: absolute;
    width: 550px;
}

.slider .slide:target {
    z-index: 100
}

.slider .frames .slide img {
    max-height: 100%;
    max-width: 100%;
}

.slider .frames .slide nav a {
    background: hsla(0, 0%, 0%, .75);
    color: #fff;
    font-size: 16px;
    line-height: 50px;
    margin-top: -25px;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 50%;
    width: 50px;
    visibility: hidden;
    z-index: 10;
}

.slider:hover .frames .slide nav a {
    opacity: 1;
    visibility: visible;
}

.slider .frames .slide nav .prev {
    -webkit-border-radius: 0 25px 25px 0;
    -moz-border-radius: 0 25px 25px 0;
    border-radius: 0 25px 25px 0;
    left: 0;
}

.slider .frames .slide nav .next {
    -webkit-border-radius: 25px 0 0 25px;
    -moz-border-radius: 25px 0 0 25px;
    border-radius: 25px 0 0 25px;
    right: 0;
}

.slider .frames .slide nav a:hover {
    background: #000
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: black;
    background: rgba(0, 0, 0, 0.97);
}

.lightbox * {
    max-width: 100%;
    max-height: 100%;
    margin-top: 2%;
}

.lightbox:target {
    display: block;
    outline: none;
}

#frameWrapper {
    margin-left: 39%;
    margin-top: 10%;
}

body p {
    font-size: 6em;
    color: rgba(125, 120, 120, 0.75);
}

body a {
    text-decoration: none;
    font: menu;
}

body p:hover {
    color: rgb(53, 51, 51);
}

#sliderCount, #imageTitle {
    color: white;
}

/**** Media Queries ****/
@media (max-width: 1000px) {
    .center {
    }

    .center-inner {
        left: 25%;
        top: 25%;
        position: absolute;
        width: 50%;
        height: 300px;
        text-align: center;
        max-width: 500px;
        max-height: 500px;
    }
}

@media (min-width: 1000px) {
    .center {
        left: 50%;
        top: 25%;
        position: absolute;
    }

    .center-inner {
        width: 500px;
        height: 100%;
        margin-left: -250px;
        text-align: center;
        max-width: 500px;
        max-height: 500px;
    }
}